*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
} 

.spaceBetween {
    justify-content: space-between;
}

.spaceAround{
    justify-content: space-around;
}

.justifyCenter{
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.contentCenter {
  align-content: center;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
.fixed {
    position: fixed;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.textCenter {
    text-align: center;
}

.wrap{
    flex-wrap: wrap;
}
 
.mt60 {
    margin-top: 60px;
}

.flexEnd {
    justify-content: flex-end;
}

.bold {
    font-weight: bold;
}
 .mb60 {
    margin-bottom: 60px;
 }