# Active le moteur de réécriture
RewriteEngine On
RewriteBase /es_moulon/public/

# Laisse passer les fichiers statiques (CSS, JS, images, uploads)
RewriteCond %{REQUEST_URI} ^/assets/ [OR]
RewriteCond %{REQUEST_URI} ^/uploads/
RewriteRule .* - [L]

# Redirige tout le reste vers index.php (routeur principal)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
