RewriteEngine On
RewriteBase /

# Laisser passer les fichiers/dossiers réels
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tout le reste vers index.php
RewriteRule ^ index.php [QSA,L]


